{% extends 'layout.html' %}
	{% block content %}
		
			<div id="login-content">
			
			<div id="login-bar">
				<div id="error-log">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<div id="error_message">
									<i id="msg">{{ message }}</i>
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
				<div id="login-bar-core">
				<form action="{{ url_for('login_check') }}" method="post">
					<div id="form_wrapper">
						<h4>Username</h4>
						<input type="text" name="usrname" id="u_name">
						
						<h4>Password</h4>
						<input type="password" name="pass" id="u_pass">
						<div class="sub_button">
							<input type="submit" name="sub" value="Log in" id="u_log">
						</div>
						
					</div>
				</form>
				</div>
				<div class="register">
							<a href="{{url_for('register')}}">Register</a>
						</div>
			</div>
		</div>
	{% endblock %}
